<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <PublishUrl>ftp://blaze-games.com</PublishUrl>
    <ReplaceMatchingFiles>False</ReplaceMatchingFiles>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpAnonymousLogin>False</FtpAnonymousLogin>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>Administrator</UserName>
    <SavePWD>True</SavePWD>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/BlazeGames.Web.dll">
      <publishTime>07/06/2012 11:10:33</publishTime>
    </File>
    <File Include="bin/BlazeGames.Web.Home.dll">
      <PublishTime>03/27/2012 22:26:54</PublishTime>
    </File>
    <File Include="bin/BlazeGames.Web.Home.pdb">
      <PublishTime>03/27/2012 22:26:54</PublishTime>
    </File>
    <File Include="bin/BlazeGames.Web.pdb">
      <publishTime>07/06/2012 11:10:33</publishTime>
    </File>
    <File Include="bin/JdSoft.Apns.Feedback.dll">
      <publishTime>03/27/2010 14:57:20</publishTime>
    </File>
    <File Include="bin/JdSoft.Apns.Notifications.dll">
      <publishTime>03/27/2010 14:57:20</publishTime>
    </File>
    <File Include="bin/JdSoft.Apple.AppStore.dll">
      <publishTime>03/27/2010 14:57:20</publishTime>
    </File>
    <File Include="bin/MoonAPNS.dll">
      <publishTime>09/02/2011 13:37:10</publishTime>
    </File>
    <File Include="bin/MySql.Data.dll">
      <PublishTime>06/24/2012 21:07:36</PublishTime>
    </File>
    <File Include="bin/MySql.Data.pdb">
      <publishTime>06/24/2012 21:07:36</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.Compact.dll">
      <publishTime>07/06/2009 22:36:44</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>09/02/2011 13:37:10</publishTime>
    </File>
    <File Include="bin/OpenStack.Swift.dll">
      <publishTime>04/10/2012 14:37:31</publishTime>
    </File>
    <File Include="bin/PageEditor.cs">
      <publishTime>06/29/2012 02:09:55</publishTime>
    </File>
    <File Include="bin/Rackspace.Cloudfiles.dll">
      <publishTime>04/10/2012 14:37:31</publishTime>
    </File>
    <File Include="bin/Themes/Error.txt">
      <publishTime>04/01/2012 21:26:05</publishTime>
    </File>
    <File Include="bin/TidyManaged.dll">
      <publishTime>06/10/2011 11:25:48</publishTime>
    </File>
    <File Include="bin/TidyManaged.xml">
      <publishTime>06/10/2011 11:25:48</publishTime>
    </File>
    <File Include="default.aspx">
      <PublishTime>04/03/2012 19:33:02</PublishTime>
    </File>
    <File Include="Themes/Error.txt">
      <publishTime>04/01/2012 21:26:05</publishTime>
    </File>
    <File Include="Web.config">
      <PublishTime>06/28/2012 07:10:58</PublishTime>
    </File>
  </ItemGroup>
</Project>